.row
  .span4
    = render 'header/logo'
  .span5.offset7
    .join
      %p Login/Join
      %ul.socIcons
        %li
          %a.fb{:href => "#"}
        %li
          %a.tw{:href => "#"}
        %li
          %a.vk{:href => "#"}