// Imports
//@import "compass/reset";
@import "compass/css3";
@include font-face( "SansitaOne", font-files("http://themes.googleusercontent.com/static/fonts/sansitaone/v2/r0cFg_5MCCA0Wi4i7AgXWLrIa-7acMAeDBVuclsi6Gc.woff", woff));
@include font-face( "RockSalt", font-files("http://themes.googleusercontent.com/static/fonts/rocksalt/v2/Q94aHXFHGip10K5uxi1jOLO3LdcAZYWl9Si6vvxL-qU.woff", woff));

// Colors colorido:)
$color1: rgba(183, 88, 237, 1);
$color2: rgba(240, 241, 72, 1);
$color3: rgba(241, 72, 167, 1);
$color4: rgba(38, 16, 237, 1);

// Sizes
$mainOffset: 20px;
$hehehe: 20px;

// Styles
html {
  @include background-size(5px 500px);
  @include background-image(linear-gradient(top, darken($color1, 25), $color1));
  background-color: $color1;
  background-repeat: repeat-x;
  padding-bottom: $mainOffset;
}
body {
  background: none;
}

.clear {
  clear: both;
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
}

header {

  margin-top: $mainOffset;

  .logo {
    color: white;
    @include transition-duration(0.4s);
    text-align: left;
    font-family: 'SansitaOne';
    margin-bottom: 0px;
    text-decoration: none;
    @include text-shadow(darken($color4, 40) 0px 0px 20px);
    font-size: ($hehehe * 2) - 10px;
    line-height: $hehehe * 2;
    height: $hehehe * 2;

    &:hover{
      text-decoration: none;
      cursor: pointer;
      @include text-shadow(darken($color4, 50) 0px 0px 5px);
    }
  }

  .join {
    padding: 0px 0px 0px ($mainOffset/2);
    margin: 0px;
    height: $hehehe + $mainOffset;
    float: right;
    @include transition-duration(0.3s);
    @include border-radius(5px);
    @include box-shadow(rgba(0,0,0,0.4) 0px 0px ($mainOffset/4) inset);
    //    @include background-image(linear-gradient(top, rgba($color4, 0.1), rgba($color4, 0.1)));
    &:hover {
      @include box-shadow(rgba(0,0,0,0.3) 0px 0px ($mainOffset/2) inset);
      background-color: rgba(0,0,0,0.1);

      p {
        @include opacity(1);
      }

      .socIcons {
        li {
          .fb,
          .tw,
          .vk {
            @include opacity(0.6);
          }
        }
      }
    }

    p {
      font-family: 'RockSalt';
      @include transition-duration(0.3s);
      @include opacity(0.8);
      cursor: default;
      font-size: 10px;
      color: white;
      font-weight: bold;
      font-size: ($hehehe/2+5px);
      float: left;
      height: $hehehe + $mainOffset;
      line-height: $hehehe + $mainOffset;
      margin: 0px;
      padding: 0px ($mainOffset/2) 0px 0px;
    }

    .socIcons {
      list-style: none;
      margin: 0px;
      height: $hehehe + $mainOffset;
      float: left;

      li {
        float: left;
        margin: ($mainOffset/2) ($mainOffset/2) ($mainOffset/2) 0px;
        height: $hehehe;
        width: $hehehe;

        a {
          display: block;
          height: $hehehe;
          width: $hehehe;
          line-height: $hehehe;
          margin: 0px;
          text-align: center;
          padding: 0px;

          &.fb, &.tw, &.vk {
            @include background-size($hehehe $hehehe);
            @include opacity(0.3);
            @include transition-duration(0.3s);
          }

          &.fb {
            background: url(/assets/facebook.png) top left no-repeat;
          }

          &.tw {
            background: url(/assets/twitter.png) top left no-repeat;
          }

          &.vk {
            background: url(/assets/vkontakte.png) top left no-repeat;
          }

          &:hover {
            &.fb, &.tw, &.vk {
              @include opacity(0.9);
            }
          }
        }
      }
    }
  }
}

#main {
  margin-top: $mainOffset;

  p {
    @include text-shadow(rgba(darken($color4, 40), 0.5) 0px 1px 2px);
    font-size: 15px;
    color: rgba(white, 1);
    //    margin-bottom: $mainOffset/2;
    margin-bottom: 0px;
  }

  .offffset, .stash {
    @include transition-duration(0.3s);
    @include border-radius(5px);
    @include box-shadow(rgba(black,0.4) 0px 0px ($mainOffset/4) inset);
    @include background-image(linear-gradient(top, rgba($color4, 0.1), rgba($color4, 0.1)));
    margin-top: $mainOffset;
    padding: 0px $mainOffset $mainOffset;
  }

  .stash {
    padding: 10px 20px 20px;
    margin-top: 20px;

    h3 {
      font-family: 'RockSalt';
      text-align: right;
      color: white;
      text-transform: lowercase;
      margin: 0px 0px 20px;
      padding: 0px 10px 10px;
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      border-bottom: 1px solid rgba(lighten($color1, 10), 0.3);
      @include box-shadow(rgba(darken($color1, 50), 0.3) 0px 1px 0px);
    }

    .student {
      margin-bottom: $mainOffset;
      padding: $mainOffset;
      background: rgba(white, 0.05);
      @include transition-duration(0.3s);
      @include box-shadow( rgba(black, 0.2) 0px 0px ($mainOffset/4));
      position: relative;

      &:last-child {
        margin-bottom: 0px;
      };

      &:hover {
        background: rgba($color4, 0.1);
        @include box-shadow( rgba(black, 0.4) 0px 0px ($mainOffset/4)+5px);
      }

      .main {
        .avatar {
          float: left;
          margin-right: 20px;
          line-height: 0px;
          width: 100px;
          height: 150px;
        }

        .info {
          float: left;
          width: 260px;

          h4 {
            font-size: 18px;
            line-height: 20px;
            margin: 0px 0px 10px;
            padding: 0px;
            color: white;
            @include text-shadow(rgba(darken($color4, 40), 0.5) 0px 1px 2px);
          }

          p {
            margin: 10px 0px 0px;
          }

          .label {
            border: 2px solid rgba(255,0,0,0.7);
            background: none;
            opacity: 0.7;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 20px;
            color: red;
            position: absolute;
            left: 15px;
            width: 100px;
            top: 75px;
            @include transform(rotate(-30deg));
          }

        }

      }

      .links {
        display: block;
        list-style: none;
        padding: 0px;
        margin: $mainOffset 0px 0px;
        height: $mainOffset;

        li {
          float: left;
          margin-right: 20px;
          a {
            display: block;
            color: darken($color1, 25);
            font-weight: bold;
            line-height: $mainOffset;
            @include transition-duration(0.3s);
            &:hover {
              color: darken($color1, 35);
            }
          }
        }

      }
    }
  }

  .graph {
    margin-top: $mainOffset;
  }
}

footer {
  margin: $mainOffset 0px 0px 0px;
  padding: 0px;
  border: none;

  .span16 {
    @include transition-duration(0.3s);
    @include border-radius(5px);
    @include box-shadow(rgba(black,0.4) 0px 0px ($mainOffset/4) inset);
    @include background-image(linear-gradient(top, rgba($color4, 0.2), rgba($color4, 0.1)));
  }
  h4 {
    @include transition-duration(0.3s);
    margin-left: $mainOffset;
    color: rgba(white, 0.8);
  }
}
